@import "src/styles.scss";


:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 10rem;
}

.container {
  flex: 0 0 60%;
  display: flex;
  &__main-module {
    flex: 0 0 65%;
    padding-right: 2rem;
    &__text {
      padding-bottom: 1rem;
      &--heading {
        color: $lime-green;
        font-size: $heading-size;
        padding-bottom: 0.2rem;
      }
      &--instructions {
        color: $white;
        font-size: $normal-text;
      }
    }
  }
  &__session {
    flex: 0 0 35%;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    &__main-module {
      padding-right: 1rem;
      &__text {
        padding-bottom: 1rem;
        &--heading {
          font-size: $heading-size * 0.8;
          padding-bottom: 0.2rem;
        }
        &--instructions {
          font-size: $normal-text * 0.8;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  :host {
    padding-top: 4rem;
  }
  .container {
    flex: 0 0 90%;
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    &__main-module {
      &__text {
        &--heading {
          font-size: $heading-size * 0.6;
        }
        &--instructions {
          font-size: $normal-text * 0.6;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .container {
    &__main-module {
      &__text {
        &--heading {
          font-size: $heading-size * 0.4;
        }
        &--instructions {
          font-size: $normal-text * 0.4;
        }
      }
    }
  }
}
