@import "src/styles.scss";

$heading-size: 3rem;

:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 10rem;
}

.container {
  flex: 0 0 60%;
  display: flex;
  &__main-module {
    flex: 0 0 65%;
    padding-right: 2rem;
    &__text {
      padding-bottom: 1rem;
      &--heading {
        color: $lime-green;
        font-size: $heading-size;
        padding-bottom: 0.2rem;
      }
      &--instructions {
        color: $white;
        font-size: $normal-text;
      }
    }
  }
  &__session {
    flex: 0 0 35%;
  }
}
