@import "src/styles.scss";

.container {
  padding-top: 2rem;
  &__text {
    color: $lime-green;
  }
  &__suggestions {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    flex-wrap: wrap;
    &--item{
      padding: 1rem;
      margin: 1rem;
      background: $faded-gray;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        background: $faded-gray-hover;
      }
    }
  }
}

@media only screen and (max-width: 1000px){
  .container {
    padding-top: 1rem;
    &__text {
      font-size: $heading-size * 0.6;
    }
    &__suggestions {
      &--item{
        font-size: $normal-text * 0.6;
      }
    }
  }
}

@media only screen and (max-width: 800px){
  .container {
    padding-top: 1rem;
    &__text {
      font-size: $heading-size * 0.4;
    }
    &__suggestions {
      &--item{
        font-size: $normal-text * 0.4;
      }
    }
  }
}
