
.loaded {
  border: 10px solid green;
}

.loading {
  border: 1px solid blue;
}

.player {
  display: flex;
  &__controls {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__play {
    border: 1px solid red;
  }
  &__pause{
    border: 1px solid red;
  }
  &__volume {
    border: 1px solid red;
  }
}

.nowplaying {
  display: flex;
  &__marquee {
    display: flex;
  }
}

mat-slider {
  border: 1px solid gray;
  width: 300px;
  ::ng-deep {
    .mat-slider-wrapper {
      border: 1px solid black;
    }
    .mat-slider-thumb {
      border: 1px solid black;
    }
    .mat-focus-indicator {
      border: 1px solid red;
    }
  }
}
