@import "src/styles.scss";

$icon-size: 4rem;
$icon-color: $faded-gray;

.container {
  padding-top: 2rem;
}

.player {
  display: flex;
  margin-bottom: 1rem;
  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__play {
    flex: 0 0 20%;
    &--icon{
      height: $icon-size;
      fill: $icon-color;
    }
  }
  &__pause{
    flex: 0 0 20%;
    &--icon{
      height: $icon-size;
      fill: $icon-color;
    }
  }
  &__volume {
    flex: 0 0 40%;
    &--icon{}
  }
}

.loading {
  animation: flashing 1s linear infinite; }

.playing {
  fill: $lime-green;
}

.paused {
  fill: $lime-green;
}

.inactive {
  fill: $faded-gray;
}

.nowplaying {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  h4 {
    font-size: 1.5rem;
    color: $lime-green;
    margin-bottom: 0.7rem;
  }
  h5 {
    font-size: 1.2rem;
    color: $digital-green;
    margin-bottom: 0.4rem;
  }
  &--info {
    color: $white;
  }
  &__link {
    text-decoration: none;
    color: #d5abff;
    &:hover {
      color: $white;
      cursor: pointer;
    }
  }
}

mat-slider {
  width: 15rem;
}

@keyframes flashing {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
