@import "src/styles.scss";
@import "src/global-styles/config.scss";

$icon-size: 4rem;
$icon-color: $faded-gray;
$large-text: 1.5rem;
$medium-text: 1.2rem;

.container {
  padding-top: 2rem;
}

.player {
  display: flex;
  margin-bottom: 1rem;
  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__play {
    flex: 0 0 20%;
    &--icon{
      height: $icon-size;
      fill: $icon-color;
    }
  }
  &__pause{
    flex: 0 0 20%;
    &--icon{
      height: $icon-size;
      fill: $icon-color;
    }
  }
  &__volume {
    flex: 0 0 40%;
  }
}

.loading {
  animation: flashing 1s linear infinite; }

.playing {
  fill: $lime-green;
}

.paused {
  fill: $lime-green;
}

.inactive {
  fill: $faded-gray;
}

.nowplaying {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  h4 {
    font-size: $large-text;
    color: $lime-green;
    margin-bottom: 0.7rem;
  }
  h5 {
    font-size: $medium-text;
    color: $digital-green;
    margin-bottom: 0.4rem;
  }
  &--info {
    color: $white;
  }
  &__link {
    text-decoration: none;
    color: #d5abff;
    &:hover {
      color: $white;
      cursor: pointer;
    }
  }
  &__tags {
    flex-wrap: wrap;
    word-break: break-word;
  }
}

mat-slider {
  width: 15rem;
}

@keyframes flashing {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@media only screen and (max-width: 1200px) {
  .nowplaying {
    h4 {
      font-size: $large-text * 0.8;
    }
    h5 {
      font-size: $medium-text * 0.8;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .player {
    &__controls {
    }
    &__play {
      &--icon{
        height: $icon-size * 0.8;
      }
    }
    &__pause{
      &--icon{
        height: $icon-size * 0.8;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .mat-slider-horizontal {
    width: 200px;
  }
}

@media only screen and (max-width: 500px) {
  .mat-slider-horizontal {
    width: 80px;
  }
  .nowplaying {
    h4 {
      font-size: $large-text * 0.5;
    }
    h5 {
      font-size: $medium-text * 0.5;
    }
  }
  .player {
    &__play {
      &--icon{
        height: $icon-size * 0.6;
      }
    }
    &__pause{
      &--icon{
        height: $icon-size * 0.6;
      }
    }
  }
}
