<div class="container">
  <div class="player" data-aos="fade-left">
    <div class="player__play player__controls" [ngClass]="loaded ? 'loaded' : 'loading'">
      <svg (click)="play()" [ngClass]="playing ? 'playing' : 'inactive'" class="player__play--icon"
           viewBox="-10 0 500 500">
        <path d="M405.284,201.188L130.804,13.28C118.128,4.596,105.356,0,94.74,0C74.216,0,61.52,16.472,61.52,44.044v406.124
			c0,27.54,12.68,43.98,33.156,43.98c10.632,0,23.2-4.6,35.904-13.308l274.608-187.904c17.66-12.104,27.44-28.392,27.44-45.884
			C432.632,229.572,422.964,213.288,405.284,201.188z"/>
      </svg>
    </div>
    <div class="player__pause player__controls" [ngClass]="loaded ? 'loaded' : 'loading'">
      <svg (click)="pause()" [ngClass]="paused ? 'paused' : 'inactive'" class="player__pause--icon" viewBox="0 0 512 512">
        <path d="M181.333,0H74.667c-17.643,0-32,14.357-32,32v448c0,17.643,14.357,32,32,32h106.667c17.643,0,32-14.357,32-32V32
			C213.333,14.357,198.976,0,181.333,0z"/>
        <path d="M437.333,0H330.667c-17.643,0-32,14.357-32,32v448c0,17.643,14.357,32,32,32h106.667c17.643,0,32-14.357,32-32V32
			C469.333,14.357,454.976,0,437.333,0z"/>
      </svg>
    </div>
    <div class="player__volume player__controls">
      <mat-slider
        class="player__volume--controls"
        color="primary"
        min="0"
        max="10"
        value="5"
        (change)="setVolume($event)"></mat-slider>
    </div>
  </div>

  <div class="nowplaying" *ngIf="loaded" data-aos="fade-left">
    <h4>{{ currentStation.name }}</h4>
    <h5>Language: <span class="nowplaying--info">{{ capitalizeFirstLetter(currentStation.language) }}</span></h5>
    <h5>Location:
      <span class="nowplaying--info" *ngIf="currentStation.region">{{ currentStation.region }}, </span>
      <span class="nowplaying--info">{{ currentStation.country }}</span>
    </h5>
    <h5 class="nowplaying__tags">Tags: <span class="nowplaying--info"> {{ currentStation.tags }}</span></h5>
    <h5 *ngIf="currentStation.homepage"><a class="nowplaying__link" [href]="currentStation.homepage" target="_blank">Visit homepage</a></h5>
  </div>
</div>

