<div class="container">
<h3>Now playing:</h3>
  <h3>{{ currentStation.name }}</h3>
  <h3>{{ currentStation.language }}</h3>
  <h3>Country: {{ currentStation.country }}</h3>
  <h3 *ngIf="currentStation.state">State: {{ currentStation.state }}</h3>
  <h3><a>Visit site: {{currentStation.url}}</a></h3>
<div class="player">
  <div class="player__play" [ngClass]="loaded ? 'loaded' : 'loading'">
    <svg (click)="play()" class="player__play--icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M23 12l-22 12v-24l22 12zm-21 10.315l18.912-10.315-18.912-10.315v20.63z"/></svg>
  </div>
  <div class="player__pause">
    <svg (click)="pause()" class="player__pause--icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M10 24h-6v-24h6v24zm10 0h-6v-24h6v24zm-11-23h-4v22h4v-22zm10 0h-4v22h4v-22z"/></svg>
  </div>
  <div class="player__volume">
    <mat-slider
      class="player__volume--controls"
      color="primary"
      min="0"
      max="10"
      value="5"
      (change)="setVolume($event)"></mat-slider>
  </div>
</div>
</div>
