@import "src/styles.scss";

$bar-height: 2rem;
$search-size: 2rem;
$search-padding: 1rem;

.container {
  display: flex;
  align-items: flex-end;
  padding: 0;
  &__searchbox {
    padding: $search-padding;
    font-size: $search-size;
    background: $faded-gray;
    border: none;
    color: $white;
    :focus {
      border: 1px solid rgba(73, 172, 64, 0.7);;
    }
  }
  &__go {
    padding: $search-padding;
    font-size: $search-size;
    color: $white;
    background: $faded-gray;
    border: none;
    margin-left: 2rem;
    &:hover {
      background: $faded-gray-hover;
      cursor: pointer;
    }
    &:active {
      background: $lime-green;
    }
    &:focus {
      outline: 0;
    }
  }
}
