@import "src/styles.scss";

$bar-height: 2rem;
$search-size: 2rem;
$search-padding: 1rem;

.container {
  display: flex;
  align-items: flex-end;
  padding: 0;
  &__searchbox {
    padding: $search-padding;
    font-size: $search-size;
    background: $faded-gray;
    border: none;
    color: $white;
    :focus {
      border: 1px solid rgba(73, 172, 64, 0.7);;
    }
  }
  &__go {
    padding: $search-padding;
    font-size: $search-size;
    color: $white;
    background: $faded-gray;
    border: none;
    margin-left: 2rem;
    &:hover {
      background: $faded-gray-hover;
      cursor: pointer;
    }
    &:active {
      background: $lime-green;
    }
    &:focus {
      outline: 0;
    }
  }
}

@media only screen and (max-width: 1200px){
  .container {
    &__searchbox {
      padding: $search-padding * 0.8;
      font-size: $search-size * 0.8;
    }
    &__go {
      padding: $search-padding * 0.8;
      font-size: $search-size * 0.8;
      margin-left: 1rem;
    }
  }
}

@media only screen and (max-width: 800px){
  .container {
    &__searchbox {
      padding: $search-padding * 0.6;
      font-size: $search-size * 0.6;
    }
    &__go {
      padding: $search-padding * 0.6;
      font-size: $search-size * 0.6;
      margin-left: 1rem;
    }
  }
}

@media only screen and (max-width: 500px){
  .container {
    &__searchbox {
      padding: $search-padding * 0.5;
      font-size: $search-size * 0.5;
    }
    &__go {
      padding: $search-padding * 0.5;
      font-size: $search-size * 0.5;
    }
  }
}

@media only screen and (max-width: 400px){
  .container {
    &__searchbox{
      width: 200px;
    }
  }
}
