* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  word-wrap: break-word;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
