@font-face {
  font-family: 'hifi';
  src: url('src/assets/fonts/retro.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'hifi', monospace;
  font-size: 1.5rem;
  margin: 0;
  word-wrap: break-word;
}

html, body { height: 100%; }
body { margin: 0; }
